<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="/"><span>U</span>nnie Look</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					<!--<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>Intro</span></a></li> -->
						<li class="active">
							<a href="#fh5co-footer" class="page-scroll" style="font-family: 'Nanum Gothic'"><span><b>개인맞춤 뷰티유투버 추천 서비스</b></span></a>
						</li> 
					</ul>
				</div>
			</nav>
	  </div>
	</header>
	<section id="fh5co-home" data-section="home" style= "background-image: url(/images/index_image.png); background-size: 100% background-reapt: none" data-stellar-background-ratio="0.5">

		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate" style="font-family: 'Nanum Gothic'">세상에 못생긴 사람은 없다. <br> <span style="margin-top:4px">단지 예뻐지는 방법을 모를 뿐이다.</span></h1><br>
					<!--	<h2 class="to-animate"><a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"></a> <br> <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link"></a></h2>-->
							<div class="call-to-action">
								<a href="/select1" class="demo to-animate" style="font-family: 'Nanum Gothic'">예뻐지기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


		

	

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 to-animate">
					<h3 class="section-title">About Service</h3>
					<p>자신의 피부 타입, 쌍꺼풀 유무, 얼굴형 등을 입력하면 자신에게 가장 부합한 뷰티 유투버를 추천해주는 서비스입니다.</p>
					<p class="copy-right">&copy; 2015 Union Free Template. <br>All Rights Reserved. <br>
						Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
						Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a> &amp; Dribbble Image by <a href="https://dribbble.com/tibi_neamu" target="_blank">Tiberiu</a>
					</p>
				</div>

				<div class="col-md-4 to-animate">
					<h3 class="section-title">About Us</h3>
					<ul class="contact-info">
						<li><i class="glyphicon glyphicon-heart"></i>박남기 이화여자대학교</li>
						<li><i class="glyphicon glyphicon-heart"></i>정학연 서강대학교</li>
						<li><i class="glyphicon glyphicon-heart"></i>김수빈 연세대학교 </li>
						<li><i class="glyphicon glyphicon-heart"></i>최지만 연세대학교 </li>
					</ul>
					<h3 class="section-title">Connect with Us</h3>
					<ul class="social-media">
						<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Drop us a line</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
