<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="/"><span>U</span>nnie Look</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<!--<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>Intro</span></a></li>-->
						<li class="active">
							<a href="#fh5co-footer" class="page-scroll" style="font-family: 'Nanum Gothic'"><span>개인맞춤 뷰티유투버 추천 서비스</span></a>
						</li> 
					</ul>
				</div>
			</nav>
	  </div>
</header>




	<section id="fh5co-team" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><font size="5">Meet The Creator</font></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext mt-10px">
								<h2 class="to-animate"><font size="6">We recommend you <font color="red">PONY<font>,<font color="orange"> DADDOA</font>, <font color="green"> HEIZLE</font> </font></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user">	<a href="/result2">		<img class="img-reponsive" src="images/PONY1.png" alt="Roger Garfield">	</a>	</div>
							
							<span class="position mt-10px">PONY</span>
							<iframe width="300" height="400" src="https://www.youtube.com/embed/9sfdPfojPmY" frameborder="0" allowfullscreen></iframe>
							
							<p></p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/DADDOA1.png" alt="Roger Garfield"></div>
							<span class="position">DADDOA</span>
							<iframe width="300" height="400" src="https://www.youtube.com/embed/3hr7-UUP5Z8" frameborder="0" allowfullscreen></iframe>
							
							<p></p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/HEIZLE1.png" alt="Roger Garfield"></div>
							<span class="position">HEIZLE</span>
							<iframe width="300" height="400" src="https://www.youtube.com/embed/LoTqxEIWpDI" frameborder="0" allowfullscreen></iframe>
							
							<p></p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>