<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="/"><span>U</span>nnie Look</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					<!--	<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>Intro</span></a></li> -->
						<li class="active"><a href="#" data-nav-section="home"  style="font-family: 'Nanum Gothic'"><span><font style="font-weight:bold">개인맞춤 뷰티유투버 추천 서비스</font></span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>


<section id="fh5co-explore" data-section="explore">
	

		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 to-animate-3">
						<iframe width="800" height="500" src="https://www.youtube.com/embed/9sfdPfojPmY?autoplay=1" frameborder="0" allowfullscreen></iframe>
							
					</div>
					<div class="col-md-4 to-animate-3">
						<div class="mt">
							<div style="width:300px;">
							<div style="float :left;">	<img src="images/product1.png" style="height:100px; width:100px;"> </div>
							<div style="display: inline;">	<h4 style="width:640px;">PLAY 101 STICK FOUNDATION # 01 FAIR</h4>    
							<p style="display: inline;">ETUDE HOUSE  8600원 </p> </div>
							</div>
							<div style="width:300px;">
							<div style="float :left;">	<img src="images/product2.png" style="height:100px; width:100px;"> </div>
							<div style="display: inline;">	<h4 style="width:640px;">WEDGE PUFF</h4>    
							<p style="display: inline;">SKIN FOOD  5000원 </p> </div>
							</div>
							<div style="width:300px;">
							<div style="float :left;">	<img src="images/product3.png" style="height:100px; width:100px;"> </div>
							<div style="display: inline;">	<h4 style="width:640px;">OIL CONTROL FILM PACT # 02 SKIN BEIGE</h4>    
							<p style="display: inline;">A’PIEU  9000원 </p> </div>
							</div>

						</div>
					</div>
				</div>	
					<style>
					    .choi{
					        margin-botton: 5px;
					        margin-top: 50px;
					    }
					    
					</style>
				<div class="row">
					<div class="choi"><font style="font-family: 'Nanum Gothic';">관련 영상</font> <br>
					<iframe width="150px" height="150px" src="https://www.youtube.com/embed/6eYe4EXx-zQ" frameborder="0" allowfullscreen></iframe> &emsp; &emsp;
					<iframe width="150px" height="150px" src="https://www.youtube.com/embed/JMClWKtLndY" frameborder="0" allowfullscreen></iframe> &emsp; &emsp;
					<iframe width="150px" height="150px" src="https://www.youtube.com/embed/_pGdcsrbSQ8" frameborder="0" allowfullscreen></iframe> &emsp; &emsp;
					<iframe width="150px" height="150px" src="https://www.youtube.com/embed/c78mv_Etet8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				
			</div>
		</div>
	</section>
